<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="AlwaysMoveForward">
      <section name="DatabaseConfiguration" type="AlwaysMoveForward.Common.Configuration.DatabaseConfiguration, AlwaysMoveForward.Common" requirePermission="false"/>
      <section name="OAuthKeys" type="AlwaysMoveForward.OAuth.Client.Configuration.OAuthKeyConfiguration, AlwaysMoveForward.OAuth.Client" requirePermission="false"/>
      <section name="OAuthEndpoints" type="AlwaysMoveForward.OAuth.Client.Configuration.EndpointConfiguration, AlwaysMoveForward.OAuth.Client" requirePermission="false"/>
      <section name="AESEncryptionConfiguration" type="AlwaysMoveForward.Common.Encryption.AESConfiguration, AlwaysMoveForward.Common" requirePermission="false"/>
      <section name="WhiteList" type="AlwaysMoveForward.OAuth.Common.Configuration.WhiteListConfiguration, AlwaysMoveForward.OAuth.Common" requirePermission="false"/>
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  <AlwaysMoveForward>
    <!-- localhost -->
    <!--    <DatabaseConfiguration 	ConnectionString="E3d/f1hHrUgsqXaafCxwR+KWg8dphrOFy9a1+KbBnHgEW+OeeD6FkGQpva88AB9cU3qiVsxxeGvG/q/M+lIQcgzjGoRDmC7mPeaKURi+8sM=" DatabaseName="AMForwardDb" EncryptionMethod="Internal" /> -->
    <!-- localhost\DbLocal -->
    <DatabaseConfiguration ConnectionString="Data Source=localhost; Initial Catalog=AMFOAuthDb; User ID=test; Password=test;" DatabaseName="AMForwardDb"/>
    <OAuthKeys ConsumerKey="204d869d-5cf1-4601-b21f-e62622d8920a" ConsumerSecret="057ac52d-9b99-48be-970b-3290dcac47cd"/>
    <AESEncryptionConfiguration EncryptionKey="450A3866BA3855D0BABDA25260AE48BE9D95F30696C3FD107EFB21389043CC1B117B729F8B5C609A47B491D4ED7553CD0AB8E81FBD4023ACCEAD098DBB5B93BE" Salt="724B96CE6DC7F09E1B27D3A32D462B28482F26746574B5C9C0CA4162F578916C"/>
    <WhiteList Folders="Folder;Test" FileTypes="foo;bar"/>
  </AlwaysMoveForward>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
