@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>April Showers</span></h2>
        <div class="row no_padding no-margin">
            <h3>Games</h3>
            <hr>
            <p>The New England Women's Hockey League (NEWHL) is a senior women's day/evening league that offers skills programs at Nashoba Valley Olympia in Boxborough, Founders Training Rink in Somerville and New England Sports Center in Marlborough Massachusetts. The NEWHL is a fun, semi-competitive skills-based league that is committed to improving women's hockey skills, promoting camaraderie and growing women's hockey!</p>
            <p>NEWHL was established in 2000 and have been successful ever since. We started with ten brave women and now have over NINETY players involved in our multi-level skills programs and games. Our women players all share the joy of playing hockey together along with supporting and encouraging each other. We have burned millions of calories, gained flexibility, balance, strength, endurance, skating skills and most of all confidence in ourselves. We hope that you join us!</p>
        </div>
        <div class="row">
            <div class="col-md-6"> <img src="images/content__images/image1.jpg" alt="image" class="img-responsive no-margin"> </div>
            <div class="col-md-6">
                <h3>Schedule</h3>
                <hr>
                <p>In 2001, the New England Women’s Hockey League was founded by Kerri Macaluso. The ten founding members had met at a recreational women’s hockey program sponsored by the town of Acton, Massachusetts. One morning each week, while our children were at school, our coach showed us the rudiments of hockey, starting with how to skate. Steadily and gradually we gained confidence and skills. We proudly wore our red-and-black "Hot Shots" hockey jerseys. We progressed with our skills and eventually organized the first April Showers Women's Hockey Tournament in 2003.</p>
                <p>In April of 2006, fourteen of the fifteen women who skated in the: FIRST-EVER Women’s Over-50 division at a national tourney, sponsored by USA Hockey/LaBatt Blue, in Tampa, Florida, have skated or are presently skating in the NEWHL program. We have sent players or a team ever since 2006.</p>
                <p>n the 2010 season we were asked by the NHL to carry 40 banners on the field at the Bridgestone Winter Classic at Fenway Park.</p>
                <p>In the 2011 season were were asked to participate in a commercial called "Biscuit" for Eastern Bank which aired on local TV. Click <a href="https://www.youtube.com/watch?v=Y_14Vdbmw_8" target="_blank">here</a>to view the commercial.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Register</h3>
                <hr>
                <p>Our hockey programs have expanded to include programs at Nashoba Valley Olympia in Boxborough, Valley Sports Arena in Concord, Founders Rink in Somerville and NESC in Marlborough. Our goal was to have a program for senior women players to have places to learn to play hockey, and we did just that! We are a senior women’s league. “Senior” technically means over eighteen years old, but most of our players are in their thirties, forties, fifties, and we are proud to include a handful of women in their sixties.</p>
                <p>We are and will continue to make a difference in women’s hockey! </p>
            </div>
            <div class="col-md-5"> <img src="images/content__images/image2.jpg" alt="image" class="img-responsive no-margin"> </div>
        </div>
    </div>
</section>
