@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <div class="row">
            <div class="col-md-6"> 
                <img src="~/Content/Images/content__images/2016-tourney-logo-web.png" />                 
            </div>
            <div class="col-md-6">
                <h3>Team Registration Coming Soon!</h3>
                <hr>
                <p>Check back later this fall to begin team registrations for the <br />2017 April Showers Women's Adult Classic Hockey Tournament.</p>
            </div>
        </div>
     </div>
</section>
