@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>April Showers</span></h2>
        <div class="row no_padding no-margin">
            <h3>2016 Annual April Showers Women's Adult Classic Hockey Tournament</h3>
            <hr>
            <p>In our recently held 2015 13th Annual Women's April Showers Tournament we hosted a total of 40 teams, 551 women players that came from 11 states, representing 255 towns and 2 countries. The average age of the women playing in our over 30yr old divisions was 46, the average years of experience was 10.9. The average age of the players in our new 21+ division was 29 with an average of 20 yrs of experience.</p>
        </div>
        <div class="row">
            <div class="col-md-6"><img src="~/Content/Images/content__images/2016-tourney-logo-web.png" class="img-responsive no-margin"> </div>
            <div class="col-md-6">
                <h3>About The Tournament</h3>
                <hr>
                <p>Three game guarantee, Semi final in some divisions (TBD), fourth game for finalists in each division. All teams must be ablt to play starting at 5:00pm on Friday. Considerations will be given to traveling teams.</p>
                <p>Women players only, age 21 yrs. and over division and over age 30 yrs D & C/D division(s) C- division is 30 yrs + but we will allow 2 players per team that are 27+ years if needed.</p>
                <p>Play will be at Valley Sports in Concord and Nashoba Valley in Acton</p>
                <p>C/D level is intended for teams whose players are a mix of C and D, or all strong D players.</p>
                <p>Each team member/coach must be a current member of USA Hockey</p>
                <p>Each player will receive an April Showers Tournament gift (up to 14 players)</p>
                <p>Saturday night team party hosted at the Holiday Inn for all players/coaches</p>
                <p>Discounted rooms at the Holiday Inn in Boxborough</p>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Team Entry Fee - Two Options</h3>
                <hr>
                <p>Full team payment of $975 by January 2, 2016 (savings of $50) - Discounted fee has expired.</p>
                <p>A $200 non-refundable deposit required by January 2, 2016 to hold your team spot. $825 Balance Due by February 2, 2016.</p>
            </div>
            <div class="col-md-5"> <img src="images/content__images/image2.jpg" alt="image" class="img-responsive no-margin"> </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Tournament Hotel Information for 2016</h3>
                <hr>
                <p>NEWHL has paired with the Holiday Inn Boxborough for our 2016 April Showers Women's Adult Classic. They are offering special room rates for players. You are welcome to book your room online by clicking the below link. The rooms are $102-$122 without breakfast for a double (30 rooms avail) or King (30 rooms avail) or $112-$132 with breakfast. The cost depends upon the number of people in the room. The Saturday night Players Party will be located in the Parade Room at the hotel. It will include Food, Live Band, Dancing and our fantastic basket raffle. Teams are encouraged to bring a "Team Basket".</p>
                <p>Be sure to enter one of the group codes below to get the special rate. </p>
                <p><strong>Your group code is WHB (with breakfast)</strong></p>
                <p><strong>Your group code is WHN (without breakfast)</strong></p>
                <p><a href="http://holidayinn.com/boxboroughma" target="_blank">Book your room at the Holiday Inn, Boxborough, MA </a> </p>
            </div>
            <div class="col-md-5"> <img src="~/Content/Images/content__images/HolidayInnLogo.png" alt="image" class="img-responsive no-margin"> </div>
        </div>
        <div class="row">
            <div class="col-md-6"> <img src="~/Content/Images/content__images/rink-map.jpg" alt="image" class="img-responsive no-margin"> </div>
            <div class="col-md-6">
                <h3>We play on two rinks</h3>
                <hr>
                <p>Valley Sports Arena, 2320 Main St. Concord, MA</p>
                <p>Nashoba Valley Olympia, 34 Massachusetts Ave. in West Acton which is on the same road as the Holiday Inn. </p>
                <p>Play will be at Valley Sports in Concord and Nashoba Valley in Acton</p>
                <p>C/D level is intended for teams whose players are a mix of C and D, or all strong D players.</p>
                <p>Each team member/coach must be a current member of USA Hockey</p>
                <p>Each player will receive an April Showers Tournament gift (up to 14 players)</p>
                <p>Saturday night team party hosted at the Holiday Inn for all players/coaches</p>
                <p>Discounted rooms at the Holiday Inn in Boxborough</p>
                <p></p>
            </div>
        </div>
        
<!--Add in photos of past winners and video-->

    </div>
</section>
