@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <div class="row">
            <div class="col-md-6"> 
                <img src="~/Content/Images/content__images/Pushups.jpg" />                 
            </div>
            <div class="col-md-6">
                <h3>Contact NEWHL</h3>
                <hr>
                <p><strong>Mailing Address:</strong></p>
                <p>Kerri Macaluso/NEWHL<br />
                    7 Cedar Street Place<br />
                    Somerville, MA 02143
                </p>
                <br />
                <p><strong>Email:</strong></p>
                <p><!--<a href="mailto:NEWHLeague@gmail.com">NEWHLeague@gmail.com</a>,&nbsp;&nbsp;--><a href="mailto:kerri@kerrimacaluso.com">Kerri@KerriMacaluso.com</a></p>
                <br />
                <p><strong>Phone:</strong></p>
                <p>978-314-1577</p>
            </div>
        </div>
     </div>
</section>
