@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 3500, // in milliseconds
            pause: 'none' // set to 'true' to pause slider on mouse hover
        })
    </script>
}
<section class="slider">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item">
                <img data-src="~/content/images/slider/slider1.jpg" alt="Learn To Play Women's Hockey with NEWHL'" src="~/content/images/slider/slider1.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><span>Women's</span> Learn To Play Hockey</h1>
                        <p>Have&nbsp;&nbsp;fun&nbsp;&nbsp;learning&nbsp;&nbsp;the&nbsp;&nbsp;basic&nbsp;&nbsp;skills&nbsp;&nbsp;for&nbsp;&nbsp;the&nbsp;&nbsp;game&nbsp;&nbsp;of&nbsp;&nbsp;hockey</p>
                        <p><a class="btn btn-primary" href="/Programs/LTP" role="button">Learn More</a><a class="btn btn-default" href="/Programs/PlayerRegistration" role="button">Register</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img data-src="~/content/images/slider/GroupPicNov2015 - Copy.jpg" alt="Group Photo of NEWHL Players" src="~/Content/Images/slider/GroupPicNov2015 - Copy.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <!--
                        <h1><span>Come&nbsp;&nbsp;Join&nbsp;&nbsp;Our&nbsp;&nbsp;Team</span></h1>
                        <p>Phasellus pellentesque vehicula magna sit</p>
                        <p><a class="btn btn-primary" href="#" role="button">purchase</a><a class="btn btn-default" href="#" role="button">why us</a></p>
                        -->
                    </div>
                </div>
            </div>
            <div class="item active">
                <img data-src="~/content/images/~/Content/Images/slider/RecDSkillsCropped.jpg" alt="Improve Your Hockey Skils" src="~/Content/Images/slider/RecDskillsCropped.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Improve <span>Your</span> Skills</h1>
                        <p>Stick handling,&nbsp;&nbsp;shooting,&nbsp;&nbsp;edgework,&nbsp;&nbsp;small area games</p>
                        <p><a class="btn btn-primary" href="/Programs/CD" role="button">Learn More</a><a class="btn btn-default" href="/Programs/PlayerRegistration" role="button">Register</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img data-src="~/content/images/slider/GamePanCropped.jpg" alt="One on One battle for the puck" src="~/Content/Images/slider/GamePanCropped.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <!--
                <h1><span>Come&nbsp;&nbsp;Join&nbsp;&nbsp;Our&nbsp;&nbsp;Team</span></h1>
                <p>Phasellus pellentesque vehicula magna sit</p>
                <p><a class="btn btn-primary" href="#" role="button">purchase</a><a class="btn btn-default" href="#" role="button">why us</a></p>
                -->
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a>
    </div>
</section>
<!--end of slider section-->
<section class="main__middle__container">
    <div class="container">
        <div class="row">
            <h2 class="text-center">NEWHL always tries to focus on what is most important, <br /> growing women's hockey and having fun!</h2>
            <p class="text-center big-paragraph">Our women players all share the joy of playing hockey along with supporting and encouraging each other.<br /> We have burned millions of calories, gained flexibility, balance, strength, endurance, skating skills <br />and most of all, confidence in ourselves. </p>
        </div>
        <hr>
        <div class="row text-center three-blocks">
            <div class="col-md-4">
                <img src="~/content/images/content__images/2016-tourney-logo-web.png" alt="image" class="img-rounded img-responsive">
                <h3>April Showers</h3>
                <hr>
                <p>The New England Women's Hockey League has been hosting the April Showers Hockey Tournament Since 2013. It started with only 4 teams in it's first year and has grown to recently host 40 teams with over 550 players.</p>
                <p><a class="btn btn-lg btn-primary" href="/AprilShowers/Details" role="button">Learn more</a></p>
            </div>
            <div class="col-md-4">
                <img src="~/content/images/content__images/Justine2015 - Copy.jpg" alt="image" class="img-rounded img-responsive">
                <h3>Skills Sessons</h3>
                <hr>
                <p>NEWHL takes pride in the quality of our coaches and the enthusiasm of our players. If you have ever wanted to learn to play hockey or improve your game, this is the place for you!</p>
                <p><a class="btn btn-lg btn-primary" href="/Programs/Rec" role="button">Learn more</a></p>
            </div>
            <div class="col-md-4">
                <img src="~/content/images/content__images/MarciaDee.jpg" alt="image" class="img-rounded img-responsive">
                <h3>Why NEWHL?</h3>
                <hr>
                <p>Women's hockey has been growing at an amazing pace in the last 20 years. Come meet our players, try the sport, and find out why more girls and women are playing hockey than ever before.</p>
                <p><a class="btn btn-lg btn-primary" href="/Home/About" role="button">Learn more</a></p>
            </div>
        </div>
        <hr>
        <hr>
        <!--
        <div class="row service-icons">
            <div class="col-md-6">
                <img src="~/content/images/icons/ico1.png" alt="icon" class="img-circle img-responsive">
                <div class="col-md-10">
                    <h3>Donec nec justo eget felis facilisis fermentum. </h3>
                    <p class="orange">Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
                </div>
                <div class="clearfix"></div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
            </div>
            <div class="col-md-6">
                <img src="~/content/images/icons/ico2.png" alt="icon" class="img-circle img-responsive">
                <div class="col-md-10">
                    <h3>Donec nec justo eget felis facilisis fermentum. </h3>
                    <p class="orange">Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
                </div>
                <div class="clearfix"></div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
-->
    </div>
    <!--
    <div class="row grey-info-block text-center">
        <div class="container">
            <h2 class="">Pellentesque egestas sem suspendisse commodo ullamcorper ...</h2>
            <p class="">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.
            </p>
            <p><a class="btn btn-info" href="#" role="button">Buy it</a><a class="btn btn-default" href="#" role="button">Learn More</a></p>
        </div>
    </div>
    -->
</section>
<!--
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>About</h3>
                <p>
                    We strive to deliver a level of service that exceeds the expectations of our customers. <br />
                    <br />
                    If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.
                </p>
            </div>
            <div class="col-md-3">
                <h3>Mailing list</h3>
                <p>Subscribe to our mailing list for offers, news updates and more!</p>
                <br />
                <form action="#" method="post" class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">your email:</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="your email:">
                    </div>
                    <button type="submit" class="btn btn-primary">subscribe</button>
                </form>
            </div>
            <div class="col-md-3">
                <h3>Social</h3>
                <p>
                    123 Business Way<br />
                    San Francisco, CA 94108<br />
                    USA<br />
                    <br />
                    Phone: (888) 123-4567<br />
                    Fax: (887) 123-4567<br />
                    <br />
                </p>
                <div class="socialicon"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="https://www.facebook.com/groups/184459361623348/" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> </div>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; Copyright NEWHL. All Rights Reserved.</p>
    </div>
</footer>
-->