@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Off-Ice "Training"</span></h2>
    </div>
        <div class="container">
            <div class="row">
                <section class="col-md-8 main-content">
                    <h2><span>Access Sport America</span></h2>
                    <p><strong>2013 Puck Hogs take 1st place in the costume division at the AccesSportAmercia Race on the Charles River.</strong></p>
                    <br />
                    <img src="~/Content/Images/content__images/puck-hogs1.jpg" alt="image" class="img-responsive">
                    <br />
                </section>
                <aside class="col-md-4">
                    <h3><span></span></h3>
                    <p>&nbsp;</p>
                    <img src="~/Content/Images/content__images/puck-hogs2.jpg" alt="image">
                    <p><strong>Puck Hogs in training.</strong></p>
                    <!--<p><a href="#" role="button" class="btn btn-primary btn-lg">Learn more</a></p>-->
                </aside>     
            </div>
            <div class="row">
                <section class="col-md-8 main-content">
                    <p><strong>July 2010 - The NEWHL Paddlers raised over $5,000 for <a href="http://www.accessportamerica.org">AccesSportAmerica</a> as they raced down the Charles RIver in an outrigger canoe. Our paddlers were Christine Ray, Cheri Winterberg, Sue Mastrullo, Kim FIndlan, Alison Gallagher, Denise Sullivan, Kerri Macaluso and our Special Athlete Paul Findlan.</strong></p>
                    <br />
                    <img src="~/Content/Images/content__images/paddlers1.jpg" alt="image" class="img-responsive">
                    <br /><br /><br />
                    <img src="~/Content/Images/content__images/July-2010-Regatta-126.jpg" alt="image" class="img-responsive">
  <!--                <blockquote>
                    <p><strong><em>My mother in-law said when she went to pick Paul up at work on Monday his boss said he wore his medal into work and kept it on all day and did not stop talking about his day on the Charles. I guess that right there is why Ross Lilly started AccesSport. Bob's parents and sisters wanted me to say a big &quot;Thank You&quot; to the ladies of NEWHL.&quot;</em> - Kim</strong></p>
                    </blockquote>-->  
                </section>
                <aside class="col-md-4">
                    <h3><span></span></h3>
                    <p>&nbsp;</p>
                    <img src="~/Content/Images/content__images/July-2010-Regatta-018.jpg" alt="image">
                    <p>&nbsp;</p>
                    <img src="~/Content/Images/content__images/July-2010-Regatta-023.jpg" alt="image">
                    <p>&nbsp;</p>
                    <blockquote class="pull-right">
                        <p><em>My mother in-law said when she went to pick Paul up at work on Monday his boss said he wore his medal into work and kept it on all day and did not stop talking about his day on the Charles. I guess that right there is why Ross Lilly started AccesSport. Bob's parents and sisters wanted me to say a big &quot;Thank You&quot; to the ladies of NEWHL.&quot;</em> - Kim</p>
                    </blockquote>
                    <!--<p><a href="#" role="button" class="btn btn-primary btn-lg">Learn more</a></p>-->
                </aside>
            </div>            
        </div>
        <div class="container">
            <div class="row">
                <section class="col-md-8 main-content">
                    <h2><span>Winter Classic</span></h2>
                    <p><strong>Kerri (NEWHL) received a call in late December asking us to participate in the Winter Classic, a monumental event. We mobolized 30 women players in one week to carry NHL flags in the pre-game show. </strong></p>
                    <br />
                    <img src="~/Content/Images/content__images/K.D.Flags.jpg" alt="image" class="img-responsive">
                    <br />
                    <br />
                    <img src="~/Content/Images/content__images/winterclassic3.jpg" alt="image" class="img-responsive">
                    <br />
                </section>
                <aside class="col-md-4">
                    <h3><span></span></h3>
                    <p>&nbsp;</p>
                    <img src="~/Content/Images/content__images/FlagsK.jpg" alt="image">
                    <p>&nbsp;</p>
                    <img src="~/Content/Images/content__images/DS.De.Kelly.jpg" alt="image">
                    <p>&nbsp;</p>
                </aside>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <section class="col-md-8 main-content">
                <h2><span>Supporting our "NEWHL Family"</span></h2>
                <p><strong>Taking the trolley to Lowell to celebrate our coach Paul being honored for being voted as one of the two top defensemen in the past 25 years for the UMass Lowell Hockey Team. <em>2009</em></strong></p>
                <br />
                <img src="~/Content/Images/content__images/DSCN2232.jpg" alt="image" class="img-responsive">
            </section>
            <aside class="col-md-4">
                <h3><span></span></h3>
                <img src="~/Content/Images/content__images/DSCF2358.jpg" alt="image">
                <p><strong>NEWHLies just like to have fun!</strong></p>                
                <p>&nbsp;</p>
            </aside>
        </div>
    </div>
</section>