@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                        <!-- InstanceBeginEditable name="EditRegion1" -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" size="449">
                                    <p class="title">Off Ice Training!
                                    <p class="bodycopy">2013 Puck Hogs take 1st place in the costume division at the AccesSportAmercia Race on the Charles River. </p>
                                    <img src="~/Content/Images/content__images/puck-hogs1.jpg" width="600" height="450">
                                    <p class="bodycopy">2013 Puck Hogs in training.</p>
                                    <img src="~/Content/Images/content__images/puck-hogs2.jpg" width="600" height="504">
                                    <p class="bodycopy">Kerri (NEWHL) received a call in late December asking us to participate in the Winter Classic, a monumental event. We mobolized 30 women players in one week to carry NHL flags in the pre-game show. NEWHLies just like to have fun! (5 photos below).</p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/K.D.Flags.jpg" width="480" height="360"></p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/FlagsK.jpg" width="480" height="360"></p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/DS.De.Kelly.jpg" width="479" height="721"></p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/winterclassic3.jpg" width="480" height="320"></p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/winterclassic2.jpg" width="480" height="320"></p>
                                    <p class="bodycopy">Taking the trolley to Lowell to celebrate our coach Paul being honored for being voted as one of the two top defensemen in the past 25 years for the UMass Lowell Hockey Team. <em>2009</em></p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/DSCN2232.jpg" width="600" height="420"></p>
                                    <p class="bodycopy">&nbsp; </p>
                                    <p class="bodycopy"><img src="~/Content/Images/content__images/DSCF2358.jpg" width="550" height="413"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>&nbsp;</p>
                                    <p><span class="bodycopy">July 2010 - The NEWHL Paddlers raised over $5,000 for <a href="http://www.accessportamerica.org">AccesSportAmerica</a> as they raced down the Charles RIver in an outrigger canoe. Our paddlers were Christine Ray, Cheri Winterberg, Sue Mastrullo, Kim FIndlan, Alison Gallagher, Denise Sullivan, Kerri Macaluso and our Special Athlete Paul Findlan.</span></p>
                                    <p><span class="bodycopy"><em>&quot;My mother in-law said when she went to pick Paul up at work on Monday his boss said he wore his medal into work and kept it on all day and did not stop talking about his day on the Charles. I guess that right there is why Ross Lilly started AccesSport. Bob's parents and sisters wanted me to say a big &quot;Thank You&quot; to the ladies of NEWHL.&quot;</em> - Kim</span></p>
                                    <p>
                                        <img src="~/Content/Images/content__images/paddlers1.jpg" width="550" height="318"><br>
                                    <p class="bodycopy">&nbsp; </p>
                                    <img src="~/Content/Images/content__images/July-2010-Regatta-018.jpg" width="600" height="400"><br>
                                    <p class="bodycopy">&nbsp; </p>
                                    <img src="~/Content/Images/content__images/July-2010-Regatta-023.jpg" width="600" height="400"><br>
                                    <p class="bodycopy">&nbsp; </p>
                                    <img src="~/Content/Images/content__images/July-2010-Regatta-126.jpg" width="600" height="400"><br></p>
                                </td>
                            </tr>

                        </table>
