@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{
<!--   <link rel="stylesheet" type="text/css" href="shortcodes/shortcodes.css"> -->    
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mixitup.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Start work gallery
            $('#Grid').mixitup();
            });
            $('.gallery').each(function() { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                      enabled:true
                    }
                });
            });
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Our Players</span></h2>
    </div>
    <div class="container">
        <div id="portfolio" class="row no_padding title__block nothing no-margin">
            <ul class="list-unstyled controls">
                <li class="filter" data-filter="all">Show All</li>
               <li class="filter" data-filter="webdesign">Tournaments</li>
                <li class="filter" data-filter="printing">Games</li>
                <li class="filter" data-filter="development">Outings</li>
                <li class="filter" data-filter="seo">Players</li>
            </ul>
            <ul id="Grid" class="gallery">
                <li class="mix development col-sm-4">
                    <a href="~/Content/Images/content__images/MoSled.jpg">
                        <img alt="" src="~/Content/Images/content__images/MoSled.jpg" class="img-responsive"> <span class="text"><span>NEWHL players participate in sled hockey demo to raise money for Spaulding Adaptive Sports</span></span>
                    </a>
                </li>
                <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/JennaThumbsUp.jpg">
                        <img alt="" src="~/Content/Images/content__images/JennaThumbsUp.jpg" class="img-responsive"> <span class="text"><span>Hockey makes her happy</span></span>
                    </a>
                </li>
                <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/FistBump.jpg">
                        <img alt="" src="~/Content/Images/content__images/FistBump.jpg" class="img-responsive"> <span class="text"><span>Fist Bump!</span></span>
                    </a>
                </li>
                &nbsp;
                <li class="mix development col-sm-4">
                    <a href="~/Content/Images/content__images/Halloween.jpg">
                        <img alt="" src="~/Content/Images/content__images/Halloween.jpg" class="img-responsive"> <span class="text"><span>Kermit the Frog, Batgirl, and Captain America play in the Annual NEWHL Halloween Game.</span></span>
                    </a>
                </li>
                <li class="mix development col-sm-4">
                    <a href="~/Content/Images/content__images/Halloween2.jpg">
                        <img alt="" src="~/Content/Images/content__images/Halloween2.jpg" class="img-responsive"> <span class="text"><span>Halloween line up.</span></span>
                    </a>
                </li>
                <li class="mix webdesign col-sm-4">
                    <a href="~/Content/Images/content__images/BrianBench.jpg">
                        <img alt="" src="~/Content/Images/content__images/BrianBench.jpg" class="img-responsive"> <span class="text"><span>Coach Brian looks on during our Friday Games</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/TinaSave.jpg">
                        <img alt="" src="~/Content/Images/content__images/TinaSave.jpg" class="img-responsive"> <span class="text"><span>Nice save by the goalie!</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/RaceToPuck2.jpg">
                        <img alt="" src="~/Content/Images/content__images/RaceToPuck2.jpg" class="img-responsive"> <span class="text"><span>A great race to the puck</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/ShotOnNet.jpg">
                        <img alt="" src="~/Content/Images/content__images/ShotOnNet.jpg" class="img-responsive"> <span class="text"><span>A shot on net</span></span>
                    </a>
                </li>
                <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/ScreenTheGoalie.jpg">
                        <img alt="" src="~/Content/Images/content__images/ScreenTheGoalie.jpg" class="img-responsive"> <span class="text"><span>Defense keeps an eye on the puck carrier</span></span>
                    </a>
                </li>
                <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/WendyEdges.jpg">
                        <img alt="" src="~/Content/Images/content__images/WendyEdges.jpg" class="img-responsive"> <span class="text"><span>Look at those edges</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/SplitTheD.jpg">
                        <img alt="" src="~/Content/Images/content__images/SplitTheD.jpg" class="img-responsive"> <span class="text"><span>Split the "D" to make a play</span></span>
                    </a>
                </li>
                <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/JoMGoalie.jpg">
                        <img alt="" src="~/Content/Images/content__images/JoMGoalie.jpg" class="img-responsive"> <span class="text"><span>One of our fearless and much needed goalies smiles for the camera!</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/Feet.jpg">
                        <img alt="" src="~/Content/Images/content__images/Feet.jpg" class="img-responsive"> <span class="text"><span>Feet, feet...its in your feet!</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/faceoff.jpg">
                        <img alt="" src="~/Content/Images/content__images/faceoff.jpg" class="img-responsive"> <span class="text"><span>NEWHL players line up for a faceoff</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/FirstStep.jpg">
                        <img alt="" src="~/Content/Images/content__images/FirstStep.jpg" class="img-responsive"> <span class="text"><span>A good first step makes all the difference</span></span>
                    </a>
                </li>
                <li>
                    <a href="~/Content/Images/content__images/NancyEdges.jpg">
                        <img alt="" src="~/Content/Images/content__images/NancyEdges.jpg" class="img-responsive"> <span class="text"><span>Building some speed</span></span>
                    </a>
                </li>
                <li class="mix printing col-sm-4">
                    <a href="~/Content/Images/content__images/Breakaway.jpg">
                        <img alt="" src="~/Content/Images/content__images/Breakaway.jpg" class="img-responsive"> <span class="text"><span>Breakaway during NEWHL Friday Games</span></span>
                    </a>
                </li>
                <li class="mix webdesign col-sm-4">
                    <a href="~/Content/Images/AS-Outlaws.jpg">
                        <img alt="" src="~/Content/Images/AS-Outlaws.jpg" class="img-responsive"> <span class="text"><span>Outlaws team photo from April Showers 2016.</span></span>
                    </a>
                </li>
                <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/RaceToPuck.jpg">
                        <img alt="" src="~/Content/Images/content__images/RaceToPuck.jpg" class="img-responsive"> <span class="text"><span>That's my puck</span></span>
                    </a>
                </li>

<!--            <li class="mix seo col-sm-4">
                    <a href="~/Content/Images/content__images/WhiteBench.jpg">
                        <img alt="" src="~/Content/Images/content__images/WhiteBench.jpg" class="img-responsive"> <span class="text"><span>The white bench between periods of Friday game</span></span>
                    </a>
                </li>   
                <li class="mix webdesign col-sm-4">
                    <a href="~/Content/Images/frontboat.jpg">
                        <img alt="" src="~/Content/Images/frontboat.jpg" class="img-responsive"> <span class="text"><span>Team Photos from Women's National Tournament in Florida</span></span>
                    </a>
                </li>
                <li class="mix webdesign col-sm-4">
                    <a href="~/Content/Images/BSBlues.jpg">
                        <img alt="" src="~/Content/Images/BSBlues.jpg" class="img-responsive"> <span class="text"><span>Bay State Blues team photo</span></span>
                    </a>
                </li>
--> 
            </ul>

        </div>
     </div>
</section>


