@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Use Portfolio page settings for this page</span></h2>
        <div class="row">
            <div class="col-md-6"> <img src="images/content__images/Coach-Ames.jpg" alt="image" class="img-responsive no-margin"> </div>
                <div class="col-md-6">
                    <h3>Paul Ames</h3>
                    <hr>
                    <p>Paul Ames is entering into his thirteenth season teaching skills to NEWHL players and trust us he brings high expectations each season. He wants his women players to put forth 110% effort to hockey when on the ice with him. If not, push-ups, sit-ups or sprints will be in order :-) We enjoy his spirit, style, and conficence in us.</p>
                    <p>Paul Ames has a stellar record as a hockey player. He was a two sport star in baseball and hockey at Billerica High School and was inducted into his high school's Hall of Fame. He was drafted by the Pittsburgh Penguins his senior year of high school.</p>
                    <p>He went on to college hockey at U-Mass Lowell where he went on to develop as one of the best defensemen in the country. He was named three times to the Hockey East All Star team. He played in the World Junior Championships on two occasions playing against the best 18 and 19 year old players on the world. He was selected to the All-Aniversary team at U-Mass-Lowell as one of its best defensemen in over 30 years.</p>
                    <p>After college, Paul went on to play professionally for 6 years, finishing his career in the German Elite League.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Brian Fontas</h3>
                <hr>
                <p>Brian Fontas will be going into his Twelfth coaching season with NEWHL and if it's anything like his first eleven we will see even more women moving up to higher levels. Brian believes in getting his women players to get the skill correctly before moving on. Brian has a lot of patience and he makes all players feel comfortable on the ice especially at the beginner and levels, where it's needed most.</p>
                <p>Brian attended Acton-Boxboro high school playing all four years on the varsity hockey team. He finished his career with a total of 159 points, and was named captain his senior year.  After graduation Brian attended the University of Massachusetts, Boston. He played four years on the varsity hockey team.  After graduating in 1999 with a degree in human performance and fitness, Brian became the Beacons assistant coach for the following two years.</p>
                <p>After college, Brian became the head coach of the Acton-Boxboro Girls varsity ice hockey team.  He will be going into his fifteenth season.  In the past eight  seasons... Brian has guided the Colonials to 4 state quarter final games, 3 state semi final games, 2 number 1 seeds in the MIAA division 1 tournament, and in 2011 they went to the state final game at the Boston Garden.   We would like to also congratulate Brian for his coach of the year honors for the Lowell sun, for the 2010, 2011 and 2014 seasons.</p>
            <div class="col-md-5"> <img src="images/content__images/Coach-Fontas.jpg" alt="image" class="img-responsive no-margin"> </div>
        </div>
    </div>
</section>
