@model AlwaysMoveForward.OAuth.Web.Models.PasswordHintModel
<div>
    @if (!string.IsNullOrEmpty(Model.PasswordHint))
    { 
        <span>@Model.PasswordHint</span>
    }
    else
    { 
        <span>You have not configured a password hint.</span>
    }
</div>
