<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="AlwaysMoveForward">
      <section name="DatabaseConfiguration" type="AlwaysMoveForward.Common.Configuration.DatabaseConfiguration, AlwaysMoveForward.Common" requirePermission="false"/>
      <section name="AESEncryptionConfiguration" type="AlwaysMoveForward.Common.Encryption.AESConfiguration, AlwaysMoveForward.Common" requirePermission="false"/>
      <section name="RSAXmlKeyFileConfiguration" type="AlwaysMoveForward.Common.Encryption.RSAXmlKeyFileConfiguration, AlwaysMoveForward.Common" requirePermission="false"/>
      <section name="EmailConfiguration" type="AlwaysMoveForward.Common.Configuration.EmailConfiguration, AlwaysMoveForward.Common" requirePermission="false"/>
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  <AlwaysMoveForward>
    <!-- localhost -->
    <!--    <DatabaseConfiguration   ConnectionString="Data Source=localhost; Initial Catalog=AMForwardDb; User ID=test; Password=test;" DatabaseName="AMForwardDb"/> -->
    <!-- localhost\DbLocal -->
    <DatabaseConfiguration ConnectionString="Data Source=localhost; Initial Catalog=AMFOAuthDb; User ID=test; Password=test;" DatabaseName="AMForwardDb"/>
    <AESEncryptionConfiguration EncryptionKey="319364c42db149e2956936af85c4899b1f52bc78d1614f95bdfdef63eebc87eff048c06ea4084606b0397e919e4c63fffe13820e4d564d178df62bcb34469a7b" Salt="12749f5185e24fb68cb31364ab82294455728476a163436c86719254304cf197"/>
    <EmailConfiguration FromAddress="donotreply@alwaysmoveforward.com" SmtpServer="relay-hosting.secureserver.net" SmtpPort="25"/>
  </AlwaysMoveForward>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>