@import "Definitions.less";

body
{
	font-family:Arial, Tahoma, Verdana, Sans-Serif;
	font-size:medium;
}

.loginPanel {
    width:50%;
    margin-left:25%;
    text-align:center;

    .panel-body{
        text-align:center;

        .label{
            text-align:right;
            color:black;
            font-size:small;
            display:inline-block;
            width:125px;
        }
    }
}

.adminPage{
    width:80%;
    margin-left:10%;

    .label{
        text-align:right;
        color:black;
        font-size:small;
        display:inline-block;
        width:125px;
    }
}

#loginContainer {
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    #loginPanel {
        text-align: left;

        .blueButton {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }

    #footerSection {
        text-align: center;
    }
}

#registerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    #registerPanel {
        text-align: left;

        .blueButton {
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            text-align:center;
        }
    }

    .loginLabel {        
        width: 150px;
    }
}

#divForgotPassword {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;

    .blueButton {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

.forgotPasswordSection {
    margin-top:1%;

    .forgotPasswordLabel {
        font-size:small;
        font-weight:bold;
    }
}



