@model AlwaysMoveForward.OAuth.Web.Models.TokenModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="messaging-container">
    <div id="ctlx2" class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h3 class="panel-title">Forgot your password?</h3>
        </div>
        <div class="panel-body">
            <form id="registrationForm" action="/User/ResetPassword" method="post">
                <input type="hidden" name="oauthToken" id="oauthToken" value="@Model.Token"/>
                <input type="text" name="userEmail" id="userEmai"/>
                <button id="submitButton" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

