@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>C/D Level</span></h2>
        <div class="row no_padding no-margin">
    <!--        <h3>C/D Level</h3>
            <hr>-->
            <p>The main skill development session for C and D level players consists of one 1.5 hr skill session per week on Wednesdays, 9:30 am - 11:00 am.
            <br />This program is designed for the faster-paced more competitive player. All aspects of hockey, including an emphasis on improving your conditioning, skating skills, stick handling, and game strategy will be taught by our knowledgeable instructors.</p>
            <p>The Shooting and Stick Handling session is also available to C and D level players and is held on Thursdays, 9:30 am - 11:00 am. 
            <br />This skills program is designed for players who are serious about taking their Shooting & Stickhandling abilities to the next level. Players will be instructed and shown good technique, going through quality repetitions and being provided with positive feedback thus enhancing their ability to succeed.</p>
            <p>Any player who plays hockey at D level or higher may also participate in the Recreational program on Tuesdays. Many of our C/D players also participate in the Games Program held on Fridays.<a href="#Details"> Program details are below.</a></p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>&nbsp;</p>
                <img src="~/Content/Images/content__images/NancyEdges.jpg" alt="image" class="img-responsive no-margin">
            </div>
            <div class="col-md-6">
                <h3 id="Details" >Details</h3>
                <hr>
                <ul>
                    <li>C/D Hockey Skills is held on Wednesdays from 9:30 am to 11:00 am</li>
                    <li>September 14, 2016 through April 5, 2017 </li>
                    <li>Cost: $870.00 </li>
                    <li>5% discount on total payment due when registering for multiple skills sessions <u>and</u> payment received in full before the start of season.</li>
                </ul>
                <ul>
                    <li>Stickhandling and Shooting is held on Thursdays from 9:30 am – 11:00 am</li>
                    <li>September 15, 2016 through April 6, 2017 </li>
                    <li>Cost: $810.00 </li>
                </ul>
                <ul>
                    <li>Registration with USA Hockey is required</li>
                    <li>All play is at Nashoba Valley Olympia, 34 Massachusetts Ave., Route 111, Boxborough, MA 01719</li>
                </ul>
                <p>Equipment required: Hockey helmet with face guard, shin guards, hockey socks, elbow and shoulder pads, hockey gloves, hockey pants, hockey skates, stick, mouth guard and Big Water Bottle.</p>
                <p>
                    <a href="/Registration/Start" role="button" class="btn btn-primary btn-lg">Register Now</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Programs/Schedule" role="button" class="btn btn-primary btn-lg">See Full Schedule</a>
                </p>
                <p><a href="~/Content/Docs/2016-17-NEWHL-Final-Pricing.pdf" target="_blank">See 2016-17 NEWHL Complete Pricing Document</a></p>
            </div>
        </div>
    </div>
</section>
