@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Our Programs</span></h2>
        <div class="row no_padding no-margin">
            <h3>Game Play</h3>
            <hr>
            <p>Any player who plays hockey at D or C level is eligible to play in the NEWHL games. </p>
            <p>Two games are played on each Friday during the season. The games have a referee and sometimes a bench coach. If you play in the game with the coach a $5 fee will be collected.</p>
            <p>We do not offer an option for Friday games only. If you join the Friday games, you will be placed on a team each week and expected to play regularly in the games.
            <p>We do get outside teams to play against a NEWHL team each Friday. There is also an NEWHL vs. NEWHL game. We require that you commit to the game dates and times before our season begins.</p>
            <p>Please note that Friday games are not a required element of this program. You can sign up for the skills only portion for the season.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/content__images/faceoff.jpg" alt="image" class="img-responsive no-margin">
            </div>
            <div class="col-md-6">
                <h3>Schedule</h3>
                <hr>
                <p>Games are played on <strong>Fridays</strong> at two times: <strong>9:30 am -10:30 am and 10:40 am - 11:40 am</strong> </p>
                <p>Registration with USA Hockey is required to participate in any of our programs</p>
                <p>Equipment required: Hockey helmet with face guard, shin guards, hockey socks, elbow and shoulder pads, hockey gloves, hockey pants, hockey skates, stick, mouth guard and Big Water Bottle.</p>
                <p>All play is at Nashoba Valley Olympia, 34 Massachusetts Ave., Route 111, Boxborough, MA 01719</p>
                <p><a href="/Programs/Register" role="button" class="btn btn-primary btn-lg">Register Now</a>  
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Programs/Schedule" role="button" class="btn btn-primary btn-lg">See Full Schedule</a>
                </p>
            </div>
        </div>
    </div>
</section>
