@model Newhl.MainSite.Web.Models.ManageProgramsModel
@using Newhl.MainSite.Common.DomainModel
@{
    ViewBag.Title = "Program Management";
}
@section headerPlugins
{

}
<section class="main__middle__container">
    <div class="container">
        <div id="ctlx2" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Manage your programs</h3>
            </div>
            <div class="panel-body">
                <section class="col-md-8 main-content">
                </section>
            </div>
        </div>
    </div>
</section>