@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Learn To Play</span></h2>
        <div class="row no_padding no-margin">
 <!--           <h3>Learn To Play</h3>
            <hr>-->
            <p>Learn to Skate / Play Hockey Program offers a fun way to learn the basic skills and fundamentals of the game of ice hockey. This program is a skills-based program designed for women who can "kind-of skate" (this doesn't mean you have to be an amazing skater!) We are looking for the woman that has never skated in a hockey environment, and who is interested in learning proper basic techniques with the goal of eventually feeling comfortable and successful in a recreational game environment. </p>
            <p>NEWHL coach, Brian Fontas will teach the elements of skating form, including balance, the basic stance, stride, stopping and starting, turning methods, and later on, backwards skating. Puck-handling and puck control will then be introduced with stick-handling and passing exercises, both in motion and stationary. Specific learning activities will be appropriate to the skill level of the group. Towards the end of the season, intra-squad instructional scrimmages will provide participants with a controlled-game situation to develop the skills learned. </p>
            <p>Discover the fun and excitement of a sport that will help you develop fitness, strength, balance, speed, and hand-eye coordination. You will soon find yourself playing the game and enjoying being part of a close-knit, safe, and supportive team environment. Coach Brian Fontas makes everything fun and everyone feel welcome.<a href="#Details"> Program details are below.</a></p>
            <p>This is considered a single day program and the balance must be paid in full before the first day of instruction.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/content__images/summer-program.png" alt="image" class="img-responsive no-margin"> </div>
            <div id="Details" ><h3 id="#Details" >Details</h3>
                <hr>
                <ul>
                    <li>Mondays from 10:00 am to 11:00 am</li>
                    <li>September 26, 2016 – December 19, 2017 </li>
                    <li>no class on Columbus Day Oct.10</li>
                    <li>Single day program only</li>
                    <li>Class requires a minimum of 15 skaters to run the 12 week session </li>
                    <li>Cost: $350.00    </li>
                    <li>Registration with USA Hockey is required</li>
                    <li>All play is at Nashoba Valley Olympia, 34 Massachusetts Ave., Route 111, Boxborough, MA 01719</li>

                </ul>
                <p>Equipment required: Hockey helmet with face guard, shin guards, hockey socks, elbow and shoulder pads, hockey gloves, hockey pants, hockey skates, stick, mouth guard and Big Water Bottle.</p>
                <p>Please print, sign and return the <a href="~/Content/Docs/LiabilityForm2016-2017.pdf" target="_blank">NEWHL Liability Waiver</a> before your first session.</p>

                <p>
                    <a href="/Registration/Start" role="button" class="btn btn-primary btn-lg">Register Now</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Programs/Schedule" role="button" class="btn btn-primary btn-lg">See Full Schedule</a>
                </p>
                <p><a href="~/Content/Docs/2016-17-NEWHL-Final-Pricing.pdf" target="_blank">See 2016-17 NEWHL Complete Pricing Document</a></p>
            </div>
        </div>
    </div>
</section>
