@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Our Programs</span></h2>
        <div class="row no_padding no-margin">
            <h3>Learn To Play</h3>
            <hr>
            <p>Learn to Skate / Play Hockey Program offers a fun way to learn the basic skills and fundamentals of the game of ice hockey. This program is a skills-based program designed for women who can "kind-of skate" (this doesn't mean you have to be an amazing skater!) We are looking for the woman that has never skated in a hockey environment, and who is interested in learning proper basic techniques with the goal of eventually feeling comfortable and successful in a recreational game environment. </p>
            <p>NEWHL coach, Brian Fontas will teach the elements of skating form, including balance, the basic stance, stride, stopping and starting, turning methods, and later on, backwards skating. Puck-handling and puck control will then be introduced with stick-handling and passing exercises, both in motion and stationary. Specific learning activities will be appropriate to the skill level of the group. Towards the end of the season, intra-squad instructional scrimmages will provide participants with a controlled-game situation to develop the skills learned. </p>
            <p>Discover the fun and excitement of a sport that will help you develop fitness, strength, balance, speed, and hand-eye coordination. You will soon find yourself playing the game and enjoying being part of a close-knit, safe, and supportive team environment. Coach Brian Fontas makes everything fun and everyone feel welcome.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/content__images/summer-program.png" alt="image" class="img-responsive no-margin"> </div>
            <div class="col-md-6">
                <h3>Schedule</h3>
                <hr>
                <p>The Learn to Skate / Learn To Play Hockey program is held on <strong>Mondays from 10:00 am to 11:00 am</strong></p>
                <p>Registration with USA Hockey is required to participate in any of our programs</p>
                <p>Equipment required: Hockey helmet with face guard, shin guards, hockey socks, elbow and shoulder pads, hockey gloves, hockey pants, hockey skates, stick, mouth guard and Big Water Bottle.</p>
                <p>All play is at Nashoba Valley Olympia, 34 Massachusetts Ave., Route 111, Boxborough, MA 01719</p>
                <p>
                    <a href="/Programs/Register" role="button" class="btn btn-primary btn-lg">Register Now</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Programs/Schedule" role="button" class="btn btn-primary btn-lg">See Full Schedule</a>
                </p>
            </div>
        </div>
    </div>
</section>
