@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <h2 class="text-center"><span>Mixed Level</span></h2>
        <div class="row no_padding no-margin">
 <!--          <h3>Recreational Level</h3>
            <hr>--> 
            <p>The Mixed Level Skills program is one of our few night ice times.  It is a skills-based program for players of all levels, that already have basic skating skills, where the coach works on the skating skills, puck-handling skills, shooting and some game elements such as positional play, breakouts, face-offs, and offensive plays. 
            </p>
            <p>This is considered a single day program and the balance must be paid in full before the first day of instruction.</p>
            <p>All players are welcome to join in our day programs held at the Nashoba Valley Olympia location.<a href="#Details"> Program details are below.</a>
            </p>

        </div>
        <div class="row">
            <div class="col-md-6">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <img src="~/Content/Images/content__images/NorahSkills.jpg" alt="image" class="img-responsive no-margin">
            </div>
            <div class="col-md-6">
                <h3 id="Details" >Details</h3>
                <hr>
                <ul>
                    <li><strong>2016 Evening Season</strong></li>
                    <li>Tuesdays from 8:00 pm to 9:20 pm</li>
                    <li>September 13, 2016 through December 20, 2016</li>
                    <li>15 weeks of instruction</li>
                    <li>Cost: $475.00  </li>
                </ul>
                <ul>
                    <li><strong>2017 Evening Season</strong></li>
                    <li>Tuesdays from 8:00 pm to 9:20 pm</li>
                    <li>10 weeks of instruction - No ice on Feb. 21, 2017</li>
                    <li>January 3, 2017 through March 14, 2017</li>
                    <li>Cost: TBD </li>
                </ul>
                <ul>
                    <li>Registration with USA Hockey is required</li>
                    <li>All play is at Founders Memorial Rink (Training rink), 570 Somerville Ave, Somerville, MA 02143</li>
                </ul>
                <p>Equipment required: Hockey helmet with face guard, shin guards, hockey socks, elbow and shoulder pads, hockey gloves, hockey pants, hockey skates, stick, mouth guard and Big Water Bottle.</p>
                <p>
                    <a href="/Registration/Start" role="button" class="btn btn-primary btn-lg">Register Now</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Programs/Schedule" role="button" class="btn btn-primary btn-lg">See Full Schedule</a>
                </p>
                <p><a href="~/Content/Docs/2016-17-NEWHL-Final-Pricing.pdf" target="_blank">See 2016-17 NEWHL Complete Pricing Document</a></p>
            </div>
        </div>
    </div>
</section>
