@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-app="theApp">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="Signin page for AlwaysMoveFoward OAuth." />
        <meta name="keywords" content="AlwaysMoveForward" />
        <meta http-equiv="copyright" content="Copyright 2009-2014 AlwaysMoveForward" />
        <meta http-equiv="imagetoolbar" content="false" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300" />
        <link rel="stylesheet/less" type="text/css" href="~/Content/styles.less" />
        <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <script src="~/Scripts/less-1.5.1.js" type="text/javascript"></script>
        @RenderSection("headerPlugins", false)
    </head>
    <body id="bodyPage" class="ie8 ie6to8 internetexplorer windows locale-us lang-us brand-2014">
        @RenderBody()
    </body>
</html>
 
