@model AlwaysMoveForward.OAuth.Web.Models.TokenModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{
    <script src="@Url.Content("~/Scripts/UI/SignIn.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#signinButton").click(function () {
                SignIn.SubmitLogin();
            });
        });
    </script>
}
<div class="messaging-container">
    <div id="ctlx2" class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h3 class="panel-title">
            @if(!string.IsNullOrEmpty(Model.ConsumerName))
            {
                <text>Sign in to @Model.ConsumerName with your AlwaysMoveForward account</text>  
            }
            else
            {
                <text>Sign in with your AlwaysMoveForward account</text>
            }
            </h3>
        </div>
        <div class="panel-body">
            <form id="loginForm" action="/User/ProcessSignIn" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="oauthToken" value="@Model.Token" />
                <div>
                    <span class="label">Email:</span>
                    <input type="text" id='userName' name="userName" />
                </div>
                <div>
                    <span class="label">Password:</span>
                    <input type="password" name="password" />
                </div>
                <br/>
                <div id="footerSection">
                    <button id="signinButton" class="btn btn-primary">Sign In</button>
                    <div>
                        <span>Not a user? <a href="/User/Signup?oauthToken=@Model.Token">click here</a> to sign up.</span>
                    </div>
                </div>
            </form>
        </div>
        <div id="divForgotPassword" class="forgotPasswordSection">
            <a id="btnResetPassword" tabindex="6" href="/User/ForgotPassword?oauthToken=@Model.Token" >Forgot your password?</a><br />
        </div>
    </div>
</div>



